# Global bioinf files
*.fq.gz
*.fastq.gz
*.bam
*.sam
*.vcf
*.vcf.gz

# LOGS / TEMP
logs/**
*.out
*.log
*.tmp

# Ignore raw data contents
data/raw_data/*

# Allow README
!data/raw_data/README.md

# Allow subdirectories to be traversed
!data/raw_data/*/

# Allow specific file types (including symlinks)
!data/raw_data/**/*.fq.gz
!data/raw_data/**/*.fastq.gz
!data/raw_data/**/*.hist
!data/raw_data/**/*.ktab
!data/raw_data/**/*.md

# ANALYSIS (ignore everything)
analysis/**

# Allow directory traversal
!analysis/*/
!analysis/*/*/
!analysis/*/*/*/

# Allow ONLY useful outputs
!analysis/**/*.txt
!analysis/**/*.tsv
!analysis/**/*.csv
!analysis/**/*.html
!analysis/**/*.pdf
!analysis/**/*.png

# MultiQC
!analysis/**/multiqc_data/**
!analysis/**/multiqc_report.html


