# Ignore ALL data and analysis outputs
data/raw_data/**
!data/raw_data/README.md
analysis/01_preprocessing/trimmed/**
analysis/01_preprocessing/trimmed_chr3/**
analysis/
logs/**

# Ignore bioinformatics files (extra safety)
*.fq.gz
*.fastq.gz
*.bam
*.sam
*.vcf
*.vcf.gz

# Ignore logs/temp
*.out
*.log
*.tmp
